h1 {
    width: 400px;
    text-align: center;
}

.sequenceContainer {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.playButton {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.padControls {
    display: flex;
    flex-direction: row;
    border: 2px solid slategray;
    margin-top: 3px;
}